.progress-top {
    height: 3px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient( var(--shade-red-primary), var(--shade-red-primary));
    background-size: 60% 100%;
    background-repeat: no-repeat;
    animation: progress-7x9cg2 0.5s infinite;
    z-index: 999;
}

@keyframes progress-7x9cg2 {
    0% {
        background-position: -150% 0, -150% 0;
    }
    66% {
        background-position: 250% 0, -150% 0;
    }
    100% {
        background-position: 250% 0, 250% 0;
    }
}