/* Black and Green Theme */


/* :root {
    --background-primary: #2d3436;
    --background-secondary: #636e72;
    --text-primary: #dfe6e9;
    --text-secondary: #b2bec3;
    --shade-red-primary: #44bd32;
    --shade-red-secondary: #4cd137;
    --shade-yellow-primary: #fdcb6e;
    --shade-yellow-secondary: #ffeaa7;
    --shade-orange-primary: #e17055;
    --shade-orange-secondary: #ff7675;
    --shade-green-primary: #00b894;
    --shade-green-secondary: #55efc4;
} */


/* Black and Red Theme */

:root {
    --background-primary: #2d3436;
    --background-secondary: #636e72;
    --text-primary: #dfe6e9;
    --text-secondary: #b2bec3;
    --shade-red-primary: #d63031;
    --shade-red-secondary: #ff7675;
    --shade-yellow-primary: #fdcb6e;
    --shade-yellow-secondary: #ffeaa7;
    --shade-orange-primary: #e17055;
    --shade-orange-secondary: #ff7675;
    --shade-green-primary: #00b894;
    --shade-green-secondary: #55efc4;
}