@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
body {
    margin: 0;
    font-family: "Mulish";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-primary) !important;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px;
    overflow-x: scroll;
}

body::-webkit-scrollbar-track {
    background: var(--text-primary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--shade-red-primary);
    border-radius: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}